<p-card header="Memes Language Compiler">
  <p-tabView>
    <p-tabPanel header="Home">
      <div class="painel">
        <div class="secao">
          <section>
            <div
              ui-ace="{
                useWrapMode : true,
                showGutter: false,
                theme:'twilight',
                mode: 'markdown'
              }"
            >
              # Theme and mode *Lorem ipsum* dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.
            </div>
          </section>
        </div>
        <div class="secao">
          <form [formGroup]="dataControl">
            <h2>Entrada</h2>
            <textarea
              pInputTextarea
              class="wfull space"
              formControlName="entrada"
            ></textarea>

            <button
              pButton
              type="button"
              label="NÃO ERA PRA SER DIFERENTE?"
              class="wfull space"
              (click)="handleCode()"
            ></button>
            <h2>Saída</h2>
            <textarea
              formControlName="saida"
              pInputTextarea
              class="wfull space"
            ></textarea>
          </form>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Documentação">
      <p-accordion>
        <p-accordionTab header="Palavras início/fim">
          <p>
            <strong>BORA BILL</strong> <br />
            //código <br />
            <strong>ISSO E TUDO PESSOAL</strong>
          </p>
        </p-accordionTab>
        <p-accordionTab header="Tipos">
          <p>
            <strong>ATEMPORAL</strong> AT = 'z'; (char) <br />
            <strong>MEMORAVEL</strong> ML = 13; (int) <br />
            <strong>ESQUECIDO</strong> E = 0.13; (float)
          </p>
        </p-accordionTab>
        <p-accordionTab header="Printar">
          <p><strong>QUEM E ELA?</strong> ("Oi Deus, sou eu de novo");</p>
        </p-accordionTab>
        <p-accordionTab header="If">
          <p>
            <strong>SE EU FOR</strong> {{ '{' }} <br />
            //código <br /> {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="If/Else">
          <p>
            <strong>SE EU FOR</strong> (10 < 7) {{ '{' }} <br />
            //VERDADEIRO <br /> {{ '}' }} <br />
            <strong>HOJE NAO FARO</strong> {{ '{' }} <br />
            //FALSO <br /> {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="Else If">
          <p>
            <strong>SE EU FOR</strong> (Y < 7)  {{ '{' }} <br />
            //Y < 7 <br />
            {{ '}' }} <br />
            <strong>ENTAO EU VOU</strong> (Y > 7) {{ '{' }}  <br />
            //Y > 7 <br />
            {{ '}' }} <br />
            <strong>HOJE NAO FARO</strong>  {{ '{' }} <br />
            //Y = 7 <br />
            {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="While">
          <p>
            MEMORAVEL ML = 13; <br />
            <strong>ME CHAMA QUE EU VOU</strong> (ML > 13) {{ '{' }} <br />
            //código <br />
            ML--; <br />
            {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="For">
          <p>
            MEMORAVEL ML; <br />
            <strong>SE ME ATACA EU VO ATACA</strong> (ML = 0; ML < 13; ML++) {{ '{' }}
            <br />
            <strong>QUEM E ELA?</strong> ("%d", ML); <br />
            {{ '}' }} <br>
          </p>
        </p-accordionTab>
        <p-accordionTab header="Continuar/Parar">
          <p>
            MEMORAVEL ML; <br />
            <strong>SE ME ATACA EU VO ATACA</strong> (ML = 0; ML < 13; ML++) {{ '{' }} <br />
            <br />
            //continuar <br />
            <strong>OLHA ELA;</strong> <br />
            //parar <br />
            <strong>QUIETINHA;</strong> <br />
            {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="Declarar Função">
          <p>
            <strong>FINGE QUE EU NAO EXISTO</strong> MEMORAVEL
            NOMEFUNC(MEMORAVEL A, MEMORAVEL B)) {{ '{' }} <br />
            //função <br />
            <strong>MIRELLA CORRE AQUI</strong> 1<strong>;</strong> <br />
            {{ '}' }} <br />
          </p>
        </p-accordionTab>
        <p-accordionTab header="Chamar Função">
          MEMORAVEL X = 10; <br />
          MEMORAVEL Y = 2; <br />
          MEMORAVEL ML = <strong>MUNIQUE EU VOU PASSAR MAL</strong> DIVIDIR(X,
          Y);
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Exemplo">
      <p>
        BORA BILL <br />
        //código <br />
        ISSO E TUDO PESSOAL
      </p>
    </p-tabPanel>
  </p-tabView>
</p-card>
